<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ufscar.alunos.mqc" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--Verifica se wifi está ligado, se nao estiver pergunta se deseja ligar-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Menu.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu.Inicial"
            android:label="@string/title_activity_inicial" >
        </activity>

        <fragment
            android:name=".Menu.LocalActivity"
            android:label="@string/title_activity_local" >
        </fragment>
        <fragment
            android:name=".Menu.HorarioCursos"
            android:label="@string/title_activity_horario_cursos" >
        </fragment>
        <fragment
            android:name=".Menu.MeusCursosActivity"
            android:label="@string/title_activity_horario_cursos" >
        </fragment>

        <activity
            android:name=".Menu.CourseRegisterActivity"
            android:label="@string/title_activity_course_register" >
        </activity>
        <activity
            android:name=".Menu.InicialCursos"
            android:label="@string/title_activity_inicial_cursos" >
        </activity>

        <fragment
            android:name=".Menu.Disciplinas"
            android:label="@string/title_activity_disciplinas" >
        </fragment>
        <fragment
            android:name=".Menu.Provas"
            android:label="@string/title_activity_provas" >
        </fragment>
        <fragment
            android:name=".Menu.Trabalhos"
            android:label="@string/title_activity_trabalhos" >
        </fragment>
        <fragment
            android:name=".Menu.HorarioProvas"
            android:label="@string/title_activity_provas" >
        </fragment>
        <fragment
            android:name=".Menu.HorarioTrabalhos"
            android:label="@string/title_activity_trabalhos" >
        </fragment>

        <activity
            android:name=".Menu.DiscRegisterActivity"
            android:label="@string/title_activity_subject_register" >
        </activity>
        <activity
            android:name=".Menu.InicialProvTrab"
            android:label="@string/title_activity_expandable" >
        </activity>
        <activity
            android:name=".Menu.ProvTrabRegisterActivity"
            android:label="@string/title_activity_prov_trab_register"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

</manifest>
