<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ufscar.alunos.mqc" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <fragment
            android:name=".Menu.MenuActivity"
            android:label="@string/app_name" >
        </fragment>

        <activity
            android:name=".Menu.ProvaActivity"
            android:label="@string/title_activity_pova" >
        </activity>
        <activity
            android:name=".Menu.TrabalhoActivity"
            android:label="@string/title_activity_trabalho" >
        </activity>
        <activity
            android:name=".Menu.LocalActivity"
            android:label="@string/title_activity_local" >
        </activity>

        <fragment
            android:name=".Menu.FaltasActivity"
            android:label="@string/title_activity_falta" >
        </fragment>

        <activity
            android:name=".Menu.Inicial"
            android:label="@string/title_activity_inicial" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <fragment
            android:name=".Menu.MeusCursosActivity"
            android:label="@string/title_activity_meus_cursos" >
        </fragment>
        <fragment
            android:name=".Menu.CadastroCursos"
            android:label="@string/title_activity_cadastro_cursos" >
        </fragment>

        <activity
            android:name=".Menu.HorarioCursos"
            android:label="@string/title_activity_horario_cursos" >
        </activity>
    </application>

</manifest>
